# Set
- contains only unique elements
- mutable 
- unordered
- unindexable

## Introduction

In [4]:
s = {5,3,7,8,4,6,6,6}
# No duplicate elements
print(s)
type(s)

{3, 4, 5, 6, 7, 8}

set

In [7]:
s.add(99)
print(s)
s.remove(8) # remove(item) âœ– remove(idx)
print(s)

{3, 4, 5, 6, 7, 8, 99}
{3, 4, 5, 6, 7, 99}

## Remove duplicates for list

In [8]:
l = [1,1,1,2,3,4,4,4,6,6,5]
_set = set(l)
_l = list(_set)
print(_l)

[1, 2, 3, 4, 5, 6]

## Membership Operator

In [15]:
7 in {1,2,3,4,5,6,7}

True

## Set Operations

- set `union`
- set `intersection`
- set `difference`
- set `symmetric difference`

In [3]:
s1= {1,3,4,5,8}
s2= {4,5,6,7,1,9}

In [5]:
s1.union(s2)

{1, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s1 | s2

{1, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s1.intersection(s2)

{1, 4, 5}

In [7]:
s1 & s2

{1, 4, 5}

In [10]:
s1.difference(s2)

{3, 8}

In [11]:
s2.difference(s1)

{6, 7, 9}

In [12]:
s1 - s2

{3, 8}

### symmetric difference

In [13]:
s1.symmetric_difference(s2)

{3, 6, 7, 8, 9}

In [14]:
(s1 | s2) - (s1 & s2)

{3, 6, 7, 8, 9}