In [ ]:
print("Hello World")

In [ ]:
# multiple objects seperated with comma
print("Python","Data Science",20)

## Variables

- a placeholder for storing values/data

All the variables have data types. Use **`type(var)`** to check the datatype.

## Basic Datatype

- `int`
- `float`
- `string`
- `Boolean`
- `None`

In [9]:
f= 45.44
print(f)
print(type(f))

45.44
<class 'float'>

In [12]:
bool = True # or False
print(bool)
print(type(bool))

True
<class 'bool'>

In [14]:
none = None
print(none)
print(type(none))

None
<class 'NoneType'>

## Input

`input()` always return a str vlaue.

In [16]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print(name, age)
print(type(name),type(age))

soikat 69
<class 'str'> <class 'str'>

## Type Casting

In [17]:
num = '5'
print(type(num))
num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [19]:
age = int(input("Enter your age: "))

print(age)
print(type(age))

69
<class 'int'>

# Operators
- **Arithmatic Operator: ** `+ , - , * , / , // , ** , %`
- **Comparison Operator: ** `> , < , >= , <= , == , == , !=`
- **Logical Operator: ** `and , or , not`
- **Bitwise Operator: ** `& , | , ^`
- **Membership Operator: ** `in`

#### Membership
 - `in`

In [2]:
"World" in "Hello World"

True